@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #0079dd;
  --primary-color-light: #019be3;
  --secondary-color: #00cde9;
  --primary-gradient: linear-gradient(122deg, #0076dd 0%, #00cde9 100%);
}

body {
  overflow-x: hidden;
}

.primary-gradient {
  background: var(--primary-gradient);
}

.btn-hover-blue:hover {
  color: var(--primary-color);
}

button.primary-btn {
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

button.primary-btn:is(:hover, :focus) {
  color: white;
  background-color: var(--primary-color);
  outline: none;
}

.primary-color {
  color: var(--primary-color);
}

.primary-color-light {
  color: var(--primary-color-light);
}

.bg-primary-color-light {
  background: var(--primary-color-light);
}

.bg-primary-color {
  background: var(--primary-color);
}

.secondary-color {
  color: var(--secondary-color);
}

.shutter-btn {
  position: absolute;
  right: -25px;
  z-index: 999;
}

.form-bg {
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  z-index: 99999;
  height: 100vh;
  width: 100vw;
  position: fixed;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* ------------------------------------------------ */
/* -------------------Scroll Bar------------------- */
body {
  --sb-track-color: #e0e0e0;
  --sb-thumb-color: #9b9b9b;
  --sb-size: 10px;

  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

body::-webkit-scrollbar {
  width: var(--sb-size);
  cursor: pointer;
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 0px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 0px;
}
